#db connection
POSTGRES_DB=market_viewer
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=example_password_change_for_prod


#encryption
ENCRYPT_PASSWORD="example_password_change_for_prod"
ENCRYPT_SALT="53834b1753f3fe30"

GEMINI_MODEL=gemini-2.5-flash

#configuation
DEPLOY_ENVIRONMENT=local
FRONTEND_URL=http://localhost:3000
SHOW_ERROR_TRACE=always

#JWT
JWT_SECRET=JrzUkcHMOeptGW6iKzj5VhkFANOCY9RkJrUYruyAZQj
#24h
JWT_EXPIRATION=86400000

#github sso
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=